<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB91vNTr6LW1s_p69VQYMMoC2KQ4jYEhFU</string>
	<key>GCM_SENDER_ID</key>
	<string>735267924813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2</string>
	<key>PROJECT_ID</key>
	<string>plants-project-46e01</string>
	<key>STORAGE_BUCKET</key>
	<string>plants-project-46e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735267924813:ios:5deb632515ec0fabe92504</string>
</dict>
</plist>